__pycache__/
.DS_Store
.deriveddata/
.venv/
logs/
pulseagent.db
pulseagent.db-shm
pulseagent.db-wal

/backend/.venv/
/backend/.env
/backend/*.egg-info/
/backend/*.db
/backend/*.db-shm
/backend/*.db-wal
/backend/logs/
